Database/Database/Service References/ServiceReference/BankService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63894/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService.Model" />
  <xs:import schemaLocation="http://localhost:63894/BankService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddRegisto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="morada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telemovel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegistoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRegistoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="CheckLoginResult" nillable="true" type="q1:Utilizador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUtilizador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="morada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telemovel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUtilizadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="EditarUtilizadorResult" nillable="true" type="q2:Utilizador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxReceber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxReceberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountMailBoxReceberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxLidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxLidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountMailBoxLidasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxEnviadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxEnviadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountMailBoxEnviadasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxRascunhos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxRascunhosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountMailBoxRascunhosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxEliminados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountMailBoxEliminadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountMailBoxEliminadosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailOrigem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailId" type="xs:int" />
        <xs:element minOccurs="0" name="emailOrigem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailId" type="xs:int" />
        <xs:element minOccurs="0" name="emailOrigem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="VerMailResult" nillable="true" type="q3:Mensagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailOrigem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelContato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsernameOrigem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsernameDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelContatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelContatoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameOrigem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContatoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggedUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="GetUtilizadoresResult" nillable="true" type="q4:ArrayOfUtilizador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMeusContatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesquisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loggedUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMeusContatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="SearchMeusContatosResult" nillable="true" type="q5:ArrayOfUtilizador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensNaoLidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesquisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensNaoLidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="SearchMensagensNaoLidasResult" nillable="true" type="q6:ArrayOfMensagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensLidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesquisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensLidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="SearchMensagensLidasResult" nillable="true" type="q7:ArrayOfMensagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensEnviadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesquisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensEnviadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="SearchMensagensEnviadasResult" nillable="true" type="q8:ArrayOfMensagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensRascunhos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesquisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensRascunhosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="SearchMensagensRascunhosResult" nillable="true" type="q9:ArrayOfMensagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensEliminados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesquisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMensagensEliminadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="SearchMensagensEliminadosResult" nillable="true" type="q10:ArrayOfMensagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUtilizador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggedUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUtilizadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelUtilizadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailContactos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggedUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailContactosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEmailContactosResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>