Database/Database/Service References/ServiceReference/BankService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Utilizador">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRegisto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Morada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telemovel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utilizador" nillable="true" type="tns:Utilizador" />
  <xs:complexType name="Mensagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Corpo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flag" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserOrigem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensagem" nillable="true" type="tns:Mensagem" />
  <xs:complexType name="ArrayOfUtilizador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Utilizador" nillable="true" type="tns:Utilizador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilizador" nillable="true" type="tns:ArrayOfUtilizador" />
  <xs:complexType name="ArrayOfMensagem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mensagem" nillable="true" type="tns:Mensagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMensagem" nillable="true" type="tns:ArrayOfMensagem" />
</xs:schema>